out/


# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
!/hadoop-3.1.2-build/hadoop-dist/target
!/hadoop-3.3.1-build/hadoop-dist/target

.Redit*
.redit*

docs/_build

dependency-reduced-pom.xml
/aspectj-1.9.6/

# tar binary
apache-*.tar.gz
rocketmq-*.tar.gz
rocketmq-*.zip
activemq*.tar.gz
hadoop*.tar.gz
hbase*.tar.gz
kafka*.tar.gz
zookeeper*.tar.gz

# others
/Benchmark/Benchmark/*
inject

# extracted sources and binaries for distributed systems
/Benchmark/Activemq/*/activemq-*/*
!/Benchmark/Activemq/*/activemq-*/README.md
